$black_bean:#3C1518;
$blood_red:#69140E;
$brown:#A44200;
$bronce:#D58936;
$icterine:#FFFB46;

$hunter_green:#386641;
$asparragus:#6A994E;
$yellow_green:#A7C957;
$parchment:#F2E8CF;
$bittersweet:#BC4749;
